a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

.header {
  width: 100%;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
  height: 60px;
  top: 0;
  position: sticky;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 40%;
  max-width: 200px;
  height: 40px;
}

.logo .NuxtLogo {
  max-width: 30px;
  margin-left: 10px;
  max-height: 40px;
}

.nav {
  width: 60%;
  height: 40px;
  display: flex;
  justify-content: space-between;
  padding-right: 10px;
  max-width: 300px;
}

.nav__link {
  width: 80px;
  display: flex;
  align-items: center;
  border-radius: 4px;
  justify-content: center;
  height: 100%;
  border: 1px solid #00c58e;
  cursor: pointer;
}

.nav__link:active {
  background-color: #00c58e;
  border: 1px solid #00c58e;
  color: #fff;
  box-shadow: 5px 3px 5px 2px #3f41468c;
}

.home {
  padding-top: 30px;
}

.home__heading {
  text-align: center;
}

.directories {
  display: flex;
  box-sizing: border-box;
  padding: 10px;
  max-width: 1000px;
  margin: 0 auto;
  flex-wrap: wrap;
  justify-content: center;
}

@media (min-width: 768px) {
  .directories {
    justify-content: space-between;
  }
}

.directory__container {
  width: 100%;
  max-width: 220px;
  cursor: pointer;
  border-radius: 4px;
  border: 1px solid #00c58e;
  display: flex;
  height: 60px;
  margin: 10px 5px;
  margin-right: 0;
  justify-content: center;
  align-items: center;
}

.directory__name {
  text-align: center;
}

.directory {
  width: 100%;
  margin: 50px auto;
  max-width: 450px;
  border-radius: 4px;
  border: 1px solid #00c58e;
  box-sizing: border-box;
  padding: 10px 0;
}

.directory__info {
  padding-left: 10px;
  line-height: 22px;
  padding-right: 10px;
}
